# Spark Review

The objective of this notebook is to review the basics of spark. Afterwards, I will try to do a project that involves exploration and modeling with Spark.

In this notebook, I will be reviewing some of the notes and exercises found in the Codeup Data science section.

In [1]:
# Create a spark session

import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

## Creating Dataframes

In [2]:
import pandas as pd
import numpy as np

np.random.seed(456)

pandas_dataframe = pd.DataFrame(
    dict(n=np.arange(20), group=np.random.choice(list("abc"), 20)))

pandas_dataframe

     n group
0    0     b
1    1     b
2    2     c
3    3     a
4    4     c
5    5     c
6    6     a
7    7     b
8    8     a
9    9     b
10  10     b
11  11     a
12  12     b
13  13     a
14  14     b
15  15     b
16  16     c
17  17     c
18  18     a
19  19     c

In [3]:
# convert pandas dataframes into spark dataframes

df = spark.createDataFrame(pandas_dataframe)

df

DataFrame[n: bigint, group: string]

Notice that, while we do see the column names, we don't see the data in the dataframe like we would with a pandas dataframe. This is because spark is lazy, in that it won't show us values until it has to. For the purposes of looking at the first few rows of our data, we can use the ```.show``` method.

In [4]:
df.show(5)

+---+-----+
|  n|group|
+---+-----+
|  0|    b|
|  1|    b|
|  2|    c|
|  3|    a|
|  4|    c|
+---+-----+
only showing top 5 rows

In [5]:
df.describe()

DataFrame[summary: string, n: string, group: string]